---
import { IoSearch } from "react-icons/io5";
---

<header class="header pt-4 pb-4">
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <h1 class="text-[4.6rem] font-semibold tracking-[-7.8px] text-[#929292]">
        <a href="/" class="hover:text-primary">Blog.</a>
      </h1>
    </div>

    <!-- Bouton de recherche -->
    <div class="order-1 ml-auto flex md:order-2 md:ml-0">
      <a
        class="inline-block cursor-pointer text-[24px] text-[#474747] pr-6 transition hover:text-primary md:mr-0"
        href="/search"
        title="search"
        aria-label="search"
      >
        <IoSearch />
      </a>
    </div>
  </nav>
</header>
