---
import { IoSearch } from "react-icons/io5";
---

<header class="header pt-6">
  <!-- Ajout de la classe 'container' pour limiter la largeur -->
  <nav class="navbar container max-w-screen-lg mx-auto">
    <!-- logo -->
    <div class="order-0">
      <h1 class="text-[2.6rem] text-[#585858] font-normal tracking-[-4.75px]">
        <a href="/" class="hover:text-primary">Blog.</a>
      </h1>
    </div>

    <!-- Bouton de recherche -->
    <div class="order-1 ml-auto flex md:order-2 md:ml-0">
      <a
        class="mr-4 inline-block cursor-pointer p-2 text-xl text-dark transition hover:text-primary md:mr-0"
        href="/search"
        title="search"
        aria-label="search"
      >
        <IoSearch />
      </a>
    </div>
  </nav>
</header>
