---
import { IoSearch } from "react-icons/io5";
---

<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barrio&family=Freckle+Face&family=Henny+Penny&family=Irish+Grover&family=Ruslan+Display&family=Shadows+Into+Light+Two&family=Stick&display=swap"
  />
</head>

<header class="header pt-4 pb-4">
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <h1
        class="text-[2.6rem] md:text-[3.2rem] pl-0.5 pt-6 font-normal font-custom7 tracking-[-1px] text-[#393939] leading-none"
      >
        <a href="/">blog.</a>
      </h1>
    </div>

    <!-- Bouton de recherche -->
    <div class="order-1 ml-auto flex md:order-2 md:ml-0">
      <a
        class="inline-block cursor-pointer text-[24px] text-[#3d3d3d] pr-4 transition hover:text-primary md:mr-0"
        href="/search"
        title="search"
        aria-label="search"
      >
        <IoSearch />
      </a>
    </div>
  </nav>
</header>
